<div class="menu-item-container">
    <div class="menu-item">
        <a href="#/courseType">
            <img src="css/img/book.png" />
            <span>תפריט</span>
        </a>
    </div>
    <div class="menu-item">
        <a href="#/courseType">
            <img src="css/img/book2.png" />
            <span>קינוחים</span>
        </a>
    </div>
</div>

<div class="menu-item-container">
    <div class="menu-item-second">
        <a href="#/courseType">
            <img src="css/img/drink.png" />
            <span>שתיה</span>
        </a>
    </div>
    <div class="menu-item-second">
        <a href="#/order">
            <img src="css/img/book3.png" />
            <span>מה הזמנתי</span>
        </a>
    </div>
</div>

<div class="menu-item-container" style="background-color: red">
    <img src="css/img/table.png" />
    <span>שולחן מס' 5</span>
</div>
