 <nav class="navbar navbar-default navbar-fixed-top"  >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div id="navbar">
              <nav class="navbar navbar-inverse navbar-fixed-top" id="navbarTop" >
                  <div class="container-fluid">
                          <a  href="#"><img src="css/img/logo.png" class="img-rounded" alt="Cinque Terre" /></a>

                      <ul class="nav navbar-nav" >
              <li  ng-repeat="item in items track by $index" ng-class="{active : item.isActive }" ng-click="setActive($index)"  ng-show="{{item.isVisible}}">
                  <a ng-href="{{item.path}}" ng-click="menuClicked(item.onClick)" >{{item.label}}</a>
              </li>
              <li>
                
              </li>

            <!--li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </!--li-->
          </ul>
        </div><!--/.nav-collapse -->
                  </nav>
            </div>
      </div>
    </nav>