 <div class="row">
    <div ng-form="myForm" id="LoginForm">
        <div class="row">
            <label >:שם משתמש</label>        
            <input ng-model="user.userName" class="register-txt form-control" name="userName" ng-required="true" />
            <span class="errMessage" ng-show="myForm.userName.$dirty && myForm.userName.$error.required">This field is required</span>
        </div>
        <div class="row">
            <label >:סיסמא</label> 
            <input type="password" ng-model="user.password" class="register-txt form-control" name="password" ng-required="user.userName != ''" />
            <span class="errMessage" ng-show="myForm.password.$dirty && myForm.password.$error.required">This field is required</span>
        </div>
        <br/>
        <span class="{{result.class}}">{{result.message}}</span>
        <br />
        <br />
        <button ng-click="login()" class="btn btn-primary">התחבר</button>
        <a href="#/register" class="btn btn-link">משתמש חדש</a>
    </div>
</div>
